:host { 
    display: contents; 
  }
  .fitcoapp-container {
    min-height: 100vh;
    background: transparent;
  }
  .fitcoapp-fitcoapp {
    width: 100%;
    height: 640px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    // border-color: transparent;
    // background-color: rgba(8, 17, 48, 1);
  }
  .fitcoapp-image3 {
    top: 523px;
    left: 227px;
    width: 31px;
    height: 32px;
    position: absolute;
    border-color: transparent;
  }
  .fitcoapp-image-title {
    top: 13px;
    left: 8px;
    width: 344px;
    height: 119px;
    position: absolute;
    border-color: transparent;
  }
  .fitcoapp-image2 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 660px;
    position: absolute;
    border-color: transparent;
  }
  .fitcoapp-text {
    top: 140px;
    color: rgba(85, 195, 183, 1);
    width: 354px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .fitcoapp-mobile {
    top: 100px;
    left: 0px;
    width: 360px;
    height: auto;
    display: flex;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: center;
    // border-color: transparent;
  }
  .fitcoapp-mobile-text {
    left: 35px;
    color: rgba(255, 255, 255, 1);
    width: 290px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .fitcoapp-mobile-text1 {
    top: 35px;
    left: 35px;
    color: rgba(255, 255, 255, 1);
    width: 290px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .fitcoapp-mobile-input {
    position: absolute;
    top: 120px;
    left: 55px;
    color: rgba(8, 17, 48, 1);
    height: auto;
    width: 75%;
    font-size: 36px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  //   border-radius: 8%;
  //   type:"number" maxlength="10" 
  }
  .fitcoapp-mobile-button {
    transform: scale(2);
    top: 130px;
    left: 0px;
    background-color: transparent;
    color: #ffffff;
    height: auto;
    width: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    align-items: center;
    align-content: center;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  //   type:"number" maxlength="10" 
  }
  .fitcoapp-footer {
    top: 629px;
    left: 7px;
    color: rgba(255, 255, 255, 1);
    width: 346px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  